<!-- templates/base.html -->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DataLab </title>
    <link rel="stylesheet" href="/frontend/static/css/style.css">
</head>
<body>

    <h1> {{ message }} </h1>

   <a href="login.html">Login</a>

    <footer>
        <p>&copy; 2025 DataLab | Made by Aniket</p>
    </footer>
    <script src="/frontend/static/js/script.js"></script>

</body>
</html>